.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: 0.1s;
    background-color: #3b3434;
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button:hover {
    background-color: #4e4646;
}

.button:disabled {
    background-color: rgb(191, 191, 191);
    color: rgb(127, 127, 127);
    cursor: not-allowed;
}

.icon {
    font-size: 25px;
}
