.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.error {
    color: rgb(249, 124, 124);
}

.form {
    margin-top: 20px;
}

.input {
    background-color: inherit;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white;
}

.submit {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.1s;
}
