/* Room */
.container {
    display: flex;
    gap: 100px;
}

.main {
    padding: 100px 50px 50px 50px;
    box-sizing: border-box;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 30px;
    word-break: break-all;
}

.message {
    margin-top: 30px;
}

.message-delete {
    margin-left: 60px;
    color: rgb(255, 78, 78);
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

.message-delete:hover {
    color: rgb(124, 69, 69);
}

.message-content {
    margin-left: 60px;
}

.message-photo {
    max-width: 100%;
}
