.container {
    padding: 100px 50px 50px 50px;
    box-sizing: border-box;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading {
    text-align: center;
    margin-bottom: 10px;
}

.leave,
.kick,
.join {
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.1s;
}

.leave:disabled,
.kick:disabled,
.join:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.join {
    color: white;
    background-color: rgb(90, 150, 135);
}

.join:hover {
    background-color: rgb(114, 174, 160);
}

.leave,
.kick {
    color: white;
    background-color: rgb(179, 115, 86);
}

.leave:hover,
.kick:hover {
    background-color: rgb(204, 140, 111);
}

.kick {
    margin-left: 20px;
}

.chatters {
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;
}

.chatter-container {
    display: flex;
    margin: 30px 0;
}
