.container {
    padding: 100px 50px;
    box-sizing: border-box;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading {
    text-align: center;
    margin-bottom: 10px;
}

.leave,
.kick,
.join {
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(179, 115, 86);
}

.join {
    background-color: rgb(90, 150, 135);
}

.kick {
    margin-left: 20px;
}

.chatters {
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;
}

.chatter-container {
    display: flex;
    margin: 30px 0;
}
