.container {
    padding: 100px 50px 50px 50px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    max-width: 500px;
    width: 100%;
}

.toggle {
    display: none;
    background-color: inherit;
    border: none;
    color: whitesmoke;
    font-size: 40px;
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
}

.current-user-wrapper {
    text-align: center;
}

.buttons {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid #a1a1a1;
}

.buttons > button {
    flex: 1;
    background-color: inherit;
    border: none;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
    cursor: pointer;
}

.buttons > button:hover {
    background-color: rgb(17, 70, 70);
}

.buttons > button:first-child {
    border-top-left-radius: 20px;
}

.buttons > button:last-child {
    border-top-right-radius: 20px;
}

#active-button {
    background-color: #30302f;
}

@media (max-width: 1500px) {
    .container {
        background-color: #1a1a1a;
        border-right: 1px solid #2c2c2c;
        left: -500px;
        position: fixed;
        z-index: 3;
    }
    .toggle {
        display: block;
    }
    .open {
        left: 0;
    }
}
