.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
    display: flex;
}

.main-content,
.main-sidebar {
    padding: 100px 50px;
    box-sizing: border-box;
}

.main-sidebar {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-sidebar-buttons {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid #a1a1a1;
}

.main-sidebar-buttons > button {
    flex: 1;
    background-color: inherit;
    border: none;
    color: white;
    font-weight: bold;
    padding: 20px 10px;
    cursor: pointer;
}

.main-sidebar-buttons > button:hover {
    background-color: rgb(17, 70, 70);
}

.main-sidebar-buttons > button:first-child {
    border-top-left-radius: 20px;
}

.main-sidebar-buttons > button:last-child {
    border-top-right-radius: 20px;
}

#active-navbar-button {
    background-color: #30302f;
}

.current-navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.current-navbar-heading {
    color: #a1a1a1;
    background-color: rgb(10, 60, 70);
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.current-navbar-list {
    flex: 1;
    overflow-y: auto;
}

.navbar-room-link {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 0;
    color: rgb(196, 196, 196);
    font-weight: bold;
}

.navbar-room-link:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar-room-link:not(:last-child) {
    border-bottom: 1px solid #353535;
}

.navbar-room-link:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-room-link:hover {
    background-color: rgb(10, 60, 70);
}

.navbar-room-link.active {
    background-color: rgb(10, 60, 70);
}

.navbar-active-user-container {
    margin-bottom: 10px;
}

.main-content {
    flex: 3;
    background-color: rgb(11, 39, 39);
}
