/* New Room */
.new-room-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 300px;
}

.new-room-form {
    margin-top: 20px;
}

.new-room-input {
    background-color: inherit;
    color: white;
}

.new-room-submit {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
}

/* Room */
.room-container {
    display: flex;
    gap: 100px;
}

.room-message-section {
    flex: 1;
}

.room-sidebar {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.room-sidebar > h1 {
    text-align: center;
    margin-bottom: 10px;
}

.room-sidebar-button {
    border: none;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.room-delete-button,
.leave-room-button,
.kick-chatter-button {
    color: white;
    background-color: rgb(179, 115, 86);
}

.room-update-button {
    color: white;
    background-color: rgb(90, 150, 135);
}

.join-room-button {
    color: white;
    background-color: rgb(90, 150, 135);
}

.room-sidebar-input {
    text-align: center;
}

.room-sidebar-chatters {
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;
}

.room-chatter-box {
    display: flex;
    margin: 30px 0;
}

.kick-chatter-button {
    margin-left: 20px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    border: none;
    font-weight: bold;
    border-radius: 50px;
}

.room-messages {
    flex: 1;
    overflow-y: auto;
}

.room-message {
    margin-top: 30px;
}

.message-delete-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

.message-delete-button:hover {
    color: rgb(124, 69, 69);
}

.room-message-content {
    margin-left: 20px;
}

.room-message-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.room-message-input {
    padding: 10px;
    border: none;
    margin-top: 20px;
    background-color: inherit;
    color: white;
    flex: 1;
}

.send-message-button {
    border: none;
    background-color: rgb(90, 150, 135);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
