body {
    margin: 0;
    background-color: rgb(28, 27, 34);
    color: rgb(219, 223, 224);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
