.container {
    padding: 100px 50px 50px 50px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-wrapper {
    text-align: center;
}

.heading {
    text-align: center;
    margin: 30px 0;
}

.room-list {
    flex: 1;
    overflow: auto;
}

.room-link {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: 1px solid #414141;
}

.room-link:hover {
    color: white;
}

.room-link-name {
    font-size: 40px;
}

.room-link-admin {
    font-size: 15px;
    margin-top: 10px;
    color: #888888;
}
